:root {
  --color-main: #1a202e;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--cds-global-color-construction-300);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cds-global-color-blue-800);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cds-global-color-blue-700);
}
